@import "../../../../../variable.scss";
@import "../../../../../styles.scss";
.userRolePermissionFormField
{
  width:100% !important;
}

.selectt
{
  height: 50px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100% !important;
  padding: 15px 15px;
  box-shadow: #d6c7ec 3px 3px 3px 0px;
  background-color: white;
}
mat-hint
{
  color:red;
  font-size: 13px;
  display: block;
}
mat-form-field
{
  height: 48px;
    border: none !important;
    box-shadow: #d6c7ec 3px 3px 3px 0px;
    background-color: white !important;
    outline: none;
    border-radius: 5px;
    width: 100% !important;

}
.upload
{
margin-left: -35px !important;
}
.userRolePermissionFormField
{
  background-color: #fff !important;
}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

.profileImage
{
  display: table-cell;
  height: 160px;
}
.profileImage img
{
  vertical-align: bottom;
  margin-top: 30px;
  height :100px;
}


.mobileNo input{
  background-repeat:no-repeat;
  background-position:left 5% center;
  background-size: 35px;
  padding-left: 70px;
}
.mat-select-panel {
  min-width: calc(100% + 60px) !important;
}
