<div class="login_bg">
    <div style="display: flex;height: 100vh;">
        <div class="login_first_bg h_100" ></div>
        <div class="login_content" style="position: relative;" ><!--[ngClass]="{bg_clr: otp_page}"-->
            <div ><!-- *ngIf="!otp_page"-->
                <div>
                    <h1 style="font-size: 60px;
                    text-align: center;
                    margin: 0;letter-spacing: 3px;"><span class="title_color">Cash</span> Back</h1>
                    <h3 class="title_sub">Management</h3>
                    <div class="forgot_password">
                        <a >Forgot Password ?</a>
                    </div>
                    <form action="" [formGroup]="form">
                        <div style="text-align: center;position: relative;">
                            <input type="text" placeholder="User Name" formControlName="userName"><br>
                            <div class="input_image_box">
                                <img src="assets/images/Operator Wise.png" alt="" style="width: 20px;">
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 30px;position: relative;">
                            <span class="number_prefix">+95</span>
                            <input type="text" placeholder="Enter Mobile Number" formControlName="mobileNumber" class="number_input" (keyup)="formValidation()"/>
                            <div class="input_image_box">
                                <img src="assets/images/password.svg" alt="" style="width: 20px;">
                            </div>
                        </div>
                    </form>

                    <div style="color: #592f95;text-align: center;margin-top: 15px;">
                        <!-- <mat-checkbox >Remember Me</mat-checkbox> -->
                    </div>
                    <div style="text-align: center;margin-top: 20px;" *ngIf="otp_form_valid">
                        <button class="request_otp_btn" (click)="otp_page=true">REGUEST OTP</button>
                    </div>
                    <div style="text-align: center;margin-top: 20px;" >
                        <button  class="cancel_btn" (click)="cancelOTP()"> CANCEL </button>
                    </div>
                </div>
            </div>
            <div class="otp_section" style="position: absolute;" *ngIf="otp_page">
                <div style="margin-top: 25%;width: 310px;">
                    <app-enter-otp (otp_cancelEvent)="otp_page=false" [coutDownSecounds]="60" (otp_submitEvent)="otpSubmit()"></app-enter-otp>
                </div>
            </div>
        </div>


    </div>
</div>
