<div>
    <div class="title_outer">
        <h3>Filter
            <i class="fa fa-close close" aria-hidden="true" (click)="onDismiss()" style="cursor: pointer;"></i>
            <img src="assets.images/close_white.png" alt="">
        </h3>
    </div>
    <div class="content_outer">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="">Select Period Date</label>
                  <input readonly type="text" placeholder="From Date - To Date" class="form-control datepicker" bsDaterangepicker
                         [bsConfig]="{ isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true ,showWeekNumbers: false}"
                         [maxDate]="maxDate">
                  <mat-icon class="smallCalendar" style="right: 20px;">date_range</mat-icon>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <label for="">Service Category Type</label>
                <div>
                    <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple placeholder="Select">
                        <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                            <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                                <mat-label class="label">Filter:</mat-label>
                                <mat-form-field class="select_search_box" appearance="standard">
                                <input matInput placeholder="Enter Keywords">
                                </mat-form-field>
                            </div>
                            <button fxLayout="row" mat-button class="check_uncheck_btn" >
                                <mat-icon class="secondary-text s-5">
                                check</mat-icon>Check All
                            </button>
                            <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                                <mat-icon class="secondary-text s-5">
                                clear</mat-icon>Uncheck All
                            </button>
                        </div>
                        <mat-option value=2>Top Up</mat-option>
                        <mat-option value=3>Gift Card</mat-option>
                        <mat-option value=4>DTH</mat-option>
                        <mat-option value=5>Electricity</mat-option>
                        <mat-option value=5>Post Paid</mat-option>
                        <mat-option value=5>Overseas Top Up</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-6">
                <label for="">Select Operator Name</label>
                <div>
                    <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple placeholder="Select">
                        <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                            <button fxLayout="row" mat-button class="check_uncheck_btn" >
                              <mat-icon class="secondary-text s-5">
                                check</mat-icon>Check All
                            </button>
                            <button fxLayout="row" mat-button class="check_uncheck_btn v-line" style="margin-left: 10px;" >
                              <mat-icon class="secondary-text s-5">
                                clear</mat-icon>Uncheck All
                            </button>
                          </div>
                        <mat-option value=2>MPT</mat-option>
                        <mat-option value=3>Telenor</mat-option>
                        <mat-option value=4>Ooredoo</mat-option>
                        <mat-option value=5>Mytel</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="button_group">
            <button>Clear</button>
            <button>Apply</button>
        </div>
    </div>
</div>