  <div *ngIf="data && data?.length > 0">
    <div class="dataTable" style="width: 100%;overflow: auto;">
      <table class="w-100" mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="'def' + i.toString()" *ngFor="let column of [].constructor(totalColumns);index as i;">
          <th class="text-center" mat-header-cell *matHeaderCellDef justify="end" [style]="tableHeaders[i].table_column_style">
            <span *ngIf="!(tableHeaders[i].key === actionString || tableHeaders[i].key === customColumnsString)">{{ tableHeaders[i].title || '' }}</span>
            <span *ngIf="(tableHeaders[i].key === actionString || tableHeaders[i].key === customColumnsString)">Action</span>
          </th>

          <td class="text-center" mat-cell *matCellDef="let element" [ngClass]="{'text-end actionWidth': (tableHeaders[i].key === actionString || tableHeaders[i].key === customColumnsString)}" [style]="tableHeaders[i].table_column_style">
            <span *ngIf="!(tableHeaders[i].key === actionString)" [style]="tableHeaders[i].style" (click)="tableHeaders[i].style && itemCustomClickHandler(element)">{{ element[tableHeaders[i].key] || '' }}</span>
            <span class="d-flex justify-content-center" *ngIf="(tableHeaders[i].key === actionString) && !element.hideActions">
                <button mat-menu-item *ngFor="let act of actions;" (click)="actionClick(element, act.type)">
                  <!-- <mat-icon>{{act.icon}}</mat-icon> -->
                  <img src="{{act.icon}}" alt="" class="action_icons">
                </button>
            </span>
            <span class="d-flex justify-content-center" *ngIf="tableHeaders[i].key === customColumnsString" (click)="customColumnClick(element, customColumns[totalColumns - i - 1].type)" >
              <!-- <mat-icon *ngIf="customColumns[totalColumns - i - 1].type === iconOnly">{{customColumns[totalColumns - i - 1].icon}}</mat-icon> -->
              <img src="{{customColumns[totalColumns - i - 1].icon}}" *ngIf="customColumns[totalColumns - i - 1].type === iconOnly && element?.status !== 'Cancel' && element?.status !== 'Pending' && element?.qrcode !== ''" />

              <span *ngIf="customColumns[totalColumns - i - 1].type === textOnly">{{customColumns[totalColumns - i - 1].title}}</span>
              <span *ngIf="customColumns[totalColumns - i - 1].type === iconAndText">
                <mat-icon>{{customColumns[totalColumns - i - 1].icon}}</mat-icon>
                <span>{{customColumns[totalColumns - i - 1].title}}</span>
              </span>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" [style]="tableHeaders[0].table_row_style"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style]="tableHeaders[0].table_row_style"></tr>
      </table>
    </div>
    <mat-paginator *ngIf="!noPaginator" [length]="totalDataCount" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[20, 25, 50, 100]" (page)="getServerData($event)"  showFirstLastButtons aria-label="Select page"></mat-paginator>
  </div>
  <div *ngIf="!data || !(data?.length > 0)">
    <h2 class="pt-3 text-secondary text-center">No data available</h2>
  </div>
