@import "../../../../../variable.scss";

.action_icons{
  &:first-child{
      width: 28px;
  }
}
.actionWidth {
    width: 40px;
}
thead,th{
  // background: #DFF1E8;
  font-family: Inter-medium !important;
}
tr {
    border: 1px solid$secondary-color;
}
th{
    color: #5d5858;
    font-size: 16px;
    font-family: Inter-medium !important;
    font-weight: 700;
}
td{
    font-size: 14px;
    color: #807c7c;
    font-family: Inter-regular !important;
    font-weight: 600;
}
table{
    font-family: Inter-medium;
}
.mat-paginetor{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
th.mat-header-cell{
    border-right: 1px solid$secondary-color;
}
td.mat-cell{
    border-right: 1px solid$secondary-color;
}

th.mat-header-cell:last-of-type{
    border-top-right-radius: 8px;
}

tr.mat-row{
    height: 56px;
}
th.mat-header-cell:last-of-type{
    width: 20%;
}
td.mat-cell:first-of-type{
    text-align: left !important;
}
table{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    
}

table .mat-header-row th {
    background: #d6c7ec;
    color: black;
    font-size: 14px;
    padding-right: 24px;
    white-space: nowrap;
    width: 200px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 500;
    border-right: hidden;
}
table .mat-row td{
    font-size: 14px;
    background: #eae3f3;
    padding-right: 15px !important;
    border-top: solid 10px #f6f6f6;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    border-right: hidden;
    padding-left: 24px;
    padding-right: 24px;
}


::ng-deep .mat-paginator-container {
    display: flex !important;
    justify-content: space-between !important;
  }
  
  .table-pagination table th {
    background: #d6c7ec;
    color: black;
    font-size: 14px;
    padding-right: 24px;
    white-space: nowrap;
  }
  
  tr.mat-row {
    height: 60px !important;
  }
  
  table {
    width: 100%;
    white-space: nowrap;
  
  }
  
  .mat-paginator{
    width: 100%;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row
  {
    padding: 0px;
  }
  
  .table-pagination{
    height: calc(85vh - 120px);
    overflow: auto;
  }
  
  .table-pagination td{
  background: #eae3f3;
  padding-right: 15px !important;
  border-top: solid 10px #f6f6f6;
  }
  
  .profileImageList
  {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  
  }
  .actionImage
  {
    width:25px;
  }
  .table_filter button
  {
    background: none !important;
  
  }
  .table_filter img
  {
    width: 25px;
  }
  
  .table_filter button img
  {
    width: 25px !important;
  }
  .mat-toolbar-row, .mat-toolbar-single-row
  {
    padding: 0 !important;
  }
  
  .tableSpacing{
    padding-left: 20px !important;
  }