@import "../../../../variable.scss";
@import "../../../../styles.scss";

.mat-dialog-container
{
  background-color: #f6f6f6 !important;
}

.title_outer{
    background-color: $primary-color;
    color: white;
    height: 50px;
    padding: 10px 30px;
    h3{
        .close{
            color: white;
            opacity: 1;
            font-weight: 400;
            text-shadow: none;
        }
    }
}

.selectt{
    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 15px;
    box-shadow: $secondary-color 3px 3px 3px 0px;
    background-color: white !important;
}
.content_outer{
    padding: 30px;
    height:calc(61vh - 120px);
    overflow: auto;
}
label{
    margin-top: 15px;
    font-weight: 500;
}
::placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}
::-moz-placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}
::-webkit-input-placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}


.datePicker
{
    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 15px;
    box-shadow: #d6c7ec 3px 3px 3px 0px;
    background-color: white;
}
.datePicker mat-icon
{
  vertical-align: top !important;
}

.mat-datepicker-content
{
  margin-top: 17px;
  position: relative;
  left: calc(15% - 100px);
}
.table_filter button img
{
  width: 35px !important;
}
.mat-dialog-container
{
  padding: 0;
}

.v-line
{
  margin: 5px 0 5px 0 ;
}
