<div>
  <label for="">Cash Back Operator Wise</label>
</div>
<div>
  <mat-select
    class="select selectt" panelClass="single3Select" disableOptionCentering
    multiple
    placeholder="Select"
    (selectionChange)="OperatorWiseSelected($event.value)"
  >
    <mat-option value="1">All</mat-option>
    <mat-option value="2">MPT</mat-option>
    <mat-option value="3">Telenor</mat-option>
    <mat-option value="4">Ooredoo</mat-option>
    <mat-option value="5">Mytel</mat-option>
    <mat-option value="6">Mec Tel</mat-option>
  </mat-select>
</div>

<div *ngIf="cashBackOperatorWise.includes('2') || cashBackOperatorWise.includes('1')">
  <div class="mt-3">
    <label for="">Cash Back Credit MPT Number</label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" (keyup)="formValidation()" [(ngModel)]="mpt_number">
  </div>
</div>

<div *ngIf="cashBackOperatorWise.includes('3') || cashBackOperatorWise.includes('1')">
  <div class="mt-3">
    <label for="">Cash Back Credit Telenor Number </label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" (keyup)="formValidation()" [(ngModel)]="telenor_number">
  </div>
</div>


<div *ngIf="cashBackOperatorWise.includes('4') || cashBackOperatorWise.includes('1')">
  <div class="mt-3">
    <label for="">Cash Back Credit Ooredoo Number </label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" (keyup)="formValidation()" [(ngModel)]="ooredoo_number">
  </div>
</div>

<div *ngIf="cashBackOperatorWise.includes('5') || cashBackOperatorWise.includes('1')">
  <div class="mt-3">
    <label for="">Cash Back Credit Mytel Number </label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" (keyup)="formValidation()" [(ngModel)]="mytel_number">
  </div>
</div>

<div *ngIf="cashBackOperatorWise.includes('6') || cashBackOperatorWise.includes('1')">
  <div class="mt-3">
    <label for="">Cash Back Credit MecTel Number </label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" (keyup)="formValidation()" [(ngModel)]="mectel_number">
  </div>
</div>

<br />
    <div>
      <label for="">Remarks</label>
    </div>
    <div>
      <input
        type="text"
        class="inputt"
        placeholder="Enter OK$ Account Number"
      />
</div>