<form action="" [formGroup]="operatorWise_electricity_form">
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="mt-4">
        <label for="">Cash Back Credit Electricity Number</label>
      </div>
      <div>
        <input type="text" class="input" placeholder="Enter OK$ Account Number" formControlName="electricity_number" (keyup)="formValidation()">
      </div>
    </div>
    <div class="col-md-8"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br>
    <div>
      <label for="">Remarks</label>
    </div>
    <div>
      <input type="text" class="inputt" placeholder="Enter Remarks" formControlName="Remarks">
    </div>
    </div>
  </div>    
    
  </form>