@import "../../../../../variable.scss";
.title{
    margin: 0 0 20px -10px;
}
.card{
    background-color: white;
    border: none;
    padding: 30px;
    input{
        border: none;
        border-bottom: 1px solid #545050;
        width: 30%;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 500;
    }
    ::placeholder{
        font-size: 14px;
    }
    label{
        color: $primary-color;
    }
}
