<div class="main-content ">
  <h5 class="title px-3">Change Password</h5>


    <div class="row">
      <div class="col-12 col-md-4">
        <div class="col-12">
          <div>
            <label for="">Current Password</label>
          </div>
          <div class="mobile_field">
    
              <input type="text" class="inputt userRolePermissionFormField" placeholder="Enter current password">
          </div>
        </div>
    
        <div class="col-12">
          <div>
            <label for="">Create New Password</label>
          </div>
          <div class="mobile_field">
              <input type="text" class="inputt userRolePermissionFormField" placeholder="Enter new password">
          </div>
        </div>
    
        <div class="col-12">
          <div>
            <label for="">Confirm New Password</label>
          </div>
          <div class="mobile_field">
              <input type="text" class="inputt userRolePermissionFormField" placeholder="Enter confirm new password">
          </div>
        </div>
      </div>
      <div class="col-md-8"></div>
    </div>

</div>
<mat-toolbar class="mat-toolbar mat-toolbar-single-row d-flex justify-content-center align-items-center button_group">
  <button matRipple> Cancel</button>
  <button matRipple (click)="changePassword()"> Change</button>
</mat-toolbar>
