<div *ngIf="configuration_listingg">
  
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="title">Company Configuration Listing</h5>

    <div class="table_filter d-flex justify-content-between align-items-center">
      <div class="search-container">
        <form method="get">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="button searchbutton" for="searchright">
            <img class="simg " src="assets/images/search.png" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Search" >
          </label>
        </form>
      </div>
      <span matPrefix class="icons material-icons custom-icon"  download="UploadExcelFormat.xlsx" matTooltip="Export To Excel"
            aria-label="Button that displays a tooltip when focused or hovered over"
          class="icon-tooltip">
          <img src="assets/images/excel-download.svg"  alt="Export To Excel Icon">
      </span>
      <span class="material-icons icons custom-icon" matTooltip="Create New" (click)="configuration_listingg = false"
            aria-label="Button that displays a tooltip when focused or hovered over"
            class="">
          <img src="assets/images/add-pattern.svg"  alt="Create New Icon">
      </span>


    </div>
  </div>
      <!-- table -->
      <div class="table-pagination">
        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
          </ng-container>

          <ng-container matColumnDef="cashbackAcc">
            <th mat-header-cell *matHeaderCellDef> Cashback Credit OK$ Account Type  </th>
            <td mat-cell *matCellDef="let element"> {{element.cashbackAcc}} </td>
          </ng-container>

          <ng-container matColumnDef="okAccType">
            <th mat-header-cell *matHeaderCellDef> OK$ Account Type </th>
            <td mat-cell *matCellDef="let element"> {{element.okAccType}} </td>
          </ng-container>
  
          <ng-container matColumnDef="opName">
            <th mat-header-cell *matHeaderCellDef> Operator Name </th>
            <td mat-cell *matCellDef="let element"> {{element.opName}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="tableSpacing text-center"> Action </th>
            <td mat-cell *matCellDef="let element" class="tableSpacing">
              <mat-slide-toggle></mat-slide-toggle>
              <a routerLink="./edit-user-role-permission" class="mx-3">
                <img class="actionImage" [src]="element.action[0]" />
              </a>
              <a routerLink="./edit-user-role-permission">
                <img class="actionImage" [src]="element.action[1]" />
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
  
      </div>
  
      <mat-toolbar>
        <mat-paginator [pageSizeOptions]="[10,20, 25, 50, 100]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
      </mat-toolbar>
</div>

<div *ngIf="!configuration_listingg" class="main-content">
    <h5 class="title">Company Configuration</h5>
        <div>
            <label for="">Select Company Name <span>*</span></label>
        </div>
        <div>
            <mat-select class="select" disableOptionCentering  panelClass="single2Select" [(ngModel)]="company_name" (selectionChange)="formValidation()" placeholder="Select">
                <mat-option value=1 >CGM</mat-option>
                <mat-option value=2 >OK$</mat-option>
                <mat-option value=3 >GAT</mat-option>
                <mat-option value=4 >One Stop Supermarket</mat-option>
                <mat-option value=5 >OK $ Taxi</mat-option>
            </mat-select>
        </div>

        <div class="add_button_div">
            <button (click)="addMobile()"><img src="assets/images/add-pattern.svg" alt="add" >Add</button>
            <p>*(Maximum Allow Add 5 Mobile Numbers)</p>
        </div>
        <div class="input_outer" *ngFor="let item of mobileNumberFields">
            <br>
            <div>
                <label for="">Cash back Credit OK$ Account <span>*</span></label>
            </div>
            <div class="mobile_field">
                <span>+95</span>
                <input type="text" class="input" placeholder="Enter OK$ Account Number" [(ngModel)]="item.mobileNumberValue" (keyup)="formValidation()">
            </div>

            <div style="display: none">
                <img src="assets/images/Close.png" alt="" style="width: 30px;">
                <span>OK$ Account Not Found</span>
            </div>

            <div style="display: inline;" *ngIf="item.mobileNumberValue !== ''">
                <img src="assets/images/delete%20icon.png" alt="" (click)="deleteMobile(item)"><img src="assets/images/tic.png" alt="" style="width: 20px;">
                <span>MPT (Merchant)</span>
            </div>
        </div>
   <br>

    <div>
        <label for="">Remarks</label>
    </div>
    <div>
        <input type="text" class="inputt">
    </div>


</div>
<mat-toolbar class="justify-content-center " *ngIf="!configuration_listingg">
  <div class="button_group modal-footer " *ngIf="show_buttons">
    <button> CANCEL</button>
    <button (click)="configuration_listing()">SAVE</button>
  </div>
</mat-toolbar>


