<div *ngIf="configuration_listingg">
  
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="title">Company Configuration Listing</h5>

    <div class="table_filter d-flex justify-content-between align-items-center">
      <div class="search-container">
        <form method="get">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="button searchbutton" for="searchright">
            <img class="simg " src="assets/images/search.png" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Search" >
          </label>
        </form>
      </div>
      <span matPrefix class="icons material-icons custom-icon"  download="UploadExcelFormat.xlsx" matTooltip="Export To Excel"
            aria-label="Button that displays a tooltip when focused or hovered over"
          class="icon-tooltip">
          <img src="assets/images/excel-download.svg"  alt="Export To Excel Icon">
      </span>
      <span class="material-icons icons custom-icon" matTooltip="Create New" [routerLink]="['./create-company-configuration']"  
            aria-label="Button that displays a tooltip when focused or hovered over"
            class="">
          <img src="assets/images/add-pattern.svg"  alt="Create New Icon">
      </span>


    </div>
  </div>
      <!-- table -->
      <div class="table-pagination">
        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
          </ng-container>

          <ng-container matColumnDef="cashbackOkAcc">
            <th mat-header-cell *matHeaderCellDef> Cash Back Credit OK$ Account </th>
            <td mat-cell *matCellDef="let element"> {{element.cashbackOkAcc}} </td>
          </ng-container>

          <ng-container matColumnDef="okAccType">
            <th mat-header-cell *matHeaderCellDef> OK$ Account Type </th>
            <td mat-cell *matCellDef="let element"> {{element.okAccType}} </td>
          </ng-container>
  
          <ng-container matColumnDef="opName">
            <th mat-header-cell *matHeaderCellDef> Operator Name </th>
            <td mat-cell *matCellDef="let element"> {{element.opName}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDateTime">
            <th mat-header-cell *matHeaderCellDef> Created Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateTime}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedDateTime">
            <th mat-header-cell *matHeaderCellDef> Updated Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedDateTime}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class=" text-center"> Action </th>
            <td mat-cell *matCellDef="let element" class=" text-center">
              <mat-slide-toggle class="mt-2" (change)="switchActive()"></mat-slide-toggle>
              <a (click)="editNo()" style="cursor: pointer;" class="mx-4">
                <img class="actionImage" [src]="element.action[0]" />
              </a>
              <a (click)="deleteNo()" style="cursor: pointer;">
                <img class="actionImage" [src]="element.action[1]" />
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
  
      </div>
  
      <mat-toolbar>
        <mat-paginator [pageSizeOptions]="[10,20, 25, 50, 100]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
      </mat-toolbar>
</div>