<div >
  <div class="title_outer">
      <h3>Filter
          <i class="fa fa-close close" aria-hidden="true" (click)="onDismiss()"></i>
          <img src="assets.images/close_white.png" alt="">
      </h3>
  </div>
    <div class="content_outer" style="height: calc( 60vh - 10px )">
      <div>
        <label for="">Select Period Date</label>
      </div>
      <div class="row">
        <div class="col-xs-12 col-12 col-md-6 ">
          <div>

            <input readonly type="text" placeholder="From Date - To Date" class="form-control datepicker" bsDaterangepicker
                   [bsConfig]="{ isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true ,showWeekNumbers: false}"
                   [maxDate]="maxDate">
            <mat-icon class="smallCalendar" style="margin-top:-45px;margin-right:56px;">date_range</mat-icon>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">

          <div>
            <label for="">Select User Name</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select disableOptionCentering class="selectt filterSelect"  panelClass="normalSelect" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Aye Aye</mat-option>
              <mat-option value=3>Hla Hla</mat-option>
              <mat-option value=4>Aung Aung</mat-option>

            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Department Name</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select disableOptionCentering panelClass="singleSelect" class="selectt"  placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Account Department</mat-option>
              <mat-option value=3>Admin Department</mat-option>
              <mat-option value=4>Sales Department</mat-option>

            </mat-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="">Select Designation</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select disableOptionCentering panelClass="normalSelect" class="selectt" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Account</mat-option>
              <mat-option value=3>Branch Manager</mat-option>
              <mat-option value=4>Sales Person</mat-option>

            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Mobile Number</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select disableOptionCentering panelClass="normalSelect" class="selectt" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>+95 09421056929</mat-option>
              <mat-option value=3>+95 09251576586</mat-option>
              <mat-option value=4>+95 09798845585</mat-option>

            </mat-select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="">Select User Type</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select disableOptionCentering   panelClass="normalSelect" class="selectt" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" style="margin-left: 10px;" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Admin</mat-option>
              <mat-option value=3>User</mat-option>

            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Transaction</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select  disableOptionCentering panelClass="normalSelect" class="selectt" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Dashboard</mat-option>
              <mat-option value=3>User Role Permission</mat-option>
              <mat-option value=4>Company Configuration</mat-option>

            </mat-select>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="">Select Role Permission</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select class="selectt" multiple  disableOptionCentering  panelClass="normalSelect" placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                  <mat-label class="label">Filter:</mat-label>
                  <mat-form-field class="select_search_box" appearance="standard">
                    <input matInput placeholder="Enter Keywords">
                  </mat-form-field>
                </div>
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>View</mat-option>
              <mat-option value=3>View & Download</mat-option>
              <mat-option value=4>Create & Upload</mat-option>

            </mat-select>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <label for="">Select Is Active</label>
          </div>
          <div fxLayout="row wrap">
            <mat-select  class="selectt" disableOptionCentering panelClass="normalSelect" multiple placeholder="Select">
              <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                <button fxLayout="row" mat-button class="check_uncheck_btn" >
                  <mat-icon class="secondary-text s-5">
                    check</mat-icon>Check All
                </button>
                <button fxLayout="row" mat-button class="check_uncheck_btn v-line" style="margin-left: 10px;" >
                  <mat-icon class="secondary-text s-5">
                    clear</mat-icon>Uncheck All
                </button>
              </div>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=2>Yes</mat-option>
              <mat-option value=3>No</mat-option>

            </mat-select>
          </div>
        </div>
      </div>

      
    </div>
    <div class="button_group mx-0 my-2 row d-flex justify-content-center ">
      <button>Clear</button>
      <button>Apply</button>
    </div>
</div>

