<form action="" [formGroup]="category_giftcards_form">
    <div class="mt-4">
      <label for="">Cash Back Credit Gift Cards Number</label>
    </div>
    <div>
      <input type="text" class="input" placeholder="Enter OK$ Account Number" formControlName="giftCards_number" (keyup)="formValidation()">
    </div>

    <br>
    <div>
      <label for="">Remarks</label>
    </div>
    <div>
      <input type="text" class="inputt" placeholder="Enter OK$ Account Number" formControlName="Remarks">
    </div>
  </form>