<div>
    <div class="title_outer">
        <h3>Filter
            <i class="fa fa-close close" aria-hidden="true" (click)="onDismiss()" style="cursor: pointer;"></i>
            <img src="assets.images/close_white.png" alt="">
        </h3>
    </div>
    <div class="content_outer">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="">Select Period Date</label>
                </div>
                <div >
                  <input readonly type="text" placeholder="From Date - To Date" class="form-control datepicker selectt" bsDaterangepicker
                         [bsConfig]="{ isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true ,showWeekNumbers: false}"
                         [maxDate]="maxDate">
                  <mat-icon class="smallCalendar" >date_range</mat-icon>
                </div>
            </div>

        </div>
        <div class="row mt-4 mb-3">
            <mat-radio-group aria-label="Select an option">
              </mat-radio-group>
            <div class="col-md-4">
                <mat-radio-button value="1" style="color: black;">All</mat-radio-button>
            </div>
            <div class="col-md-4">
                <mat-radio-button value="2">Active</mat-radio-button>
            </div>
            <div class="col-md-4">
                <mat-radio-button value="3">Is Active</mat-radio-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="">Select Company Name</label>
                </div>
                <div>
                    <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple panelClass="normalSelect" disableOptionCentering placeholder="Select">
                        <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                            <button fxLayout="row" mat-button class="check_uncheck_btn" >
                                <mat-icon class="secondary-text s-5">
                                check</mat-icon>Check All
                            </button>
                            <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                                <mat-icon class="secondary-text s-5">
                                clear</mat-icon>Uncheck All
                            </button>
                        </div>
                        <mat-option value=1>CGM</mat-option>
                        <mat-option value=2>OK$</mat-option>
                        <mat-option value=3>GAT</mat-option>
                        <mat-option value=4>One Stop Supermarket</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="">Select OK$ Account Type</label>
                </div>
                <div>
                <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple placeholder="Select">
                    <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                            <mat-label class="label">Filter:</mat-label>
                            <mat-form-field class="select_search_box" appearance="standard">
                            <input matInput placeholder="Enter Keywords">
                            </mat-form-field>
                        </div>
                        <button fxLayout="row" mat-button class="check_uncheck_btn" >
                            <mat-icon class="secondary-text s-5">
                            check</mat-icon>Check All
                        </button>
                        <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                            <mat-icon class="secondary-text s-5">
                            clear</mat-icon>Uncheck All
                        </button>
                    </div>
                    <mat-option value=1>Personal</mat-option>
                    <mat-option value=2>Merchant</mat-option>
                    <mat-option value=3>Advance Merchant</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div>
                    <label for="">Select Cash Back Credit OK$ Account</label>
                </div>
                <div>
                <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple placeholder="Select">
                    <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                            <mat-label class="label">Filter:</mat-label>
                            <mat-form-field class="select_search_box" appearance="standard">
                            <input matInput placeholder="Enter Keywords">
                            </mat-form-field>
                        </div>
                        <button fxLayout="row" mat-button class="check_uncheck_btn" >
                            <mat-icon class="secondary-text s-5">
                            check</mat-icon>Check All
                        </button>
                        <button fxLayout="row" mat-button class="check_uncheck_btn v-line" >
                            <mat-icon class="secondary-text s-5">
                            clear</mat-icon>Uncheck All
                        </button>
                    </div>
                    <mat-option value=2>+95 65435788</mat-option>
                    <mat-option value=3>+95 65435788</mat-option>
                    <mat-option value=4>+95 65435788</mat-option>
                    <mat-option value=5>+95 65435788</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label for="">Select Operator Name</label>
                </div>
                <div>
                <mat-select class="selectt" panelClass="normalSelect" disableOptionCentering multiple placeholder="Select">
                    <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="start start" class="filter_select_header" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="center center" class="filter_text">
                            <mat-label class="label">Filter:</mat-label>
                            <mat-form-field class="select_search_box" appearance="standard">
                            <input matInput placeholder="Enter Keywords">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-option value=1>MPT</mat-option>
                    <mat-option value=2>Telenor</mat-option>
                    <mat-option value=3>Ooredoo</mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        
    </div>
    <div class="button_group my-3">
        <button>Clear</button>
        <button>Apply</button>
    </div>
</div>

