@import "../../../../variable.scss";
.outer_div{
    background-color: $quaternary-color;
    text-align: center;
    padding: 40px;
    h3{
        font-weight: normal;
    }
    p{
        font-size: 20px;
    }
}
::ng-deep .mat-dialog-container{
    padding: 0;
}