<div>
    <div class="title_outer">
        <h3>Filter
            <i class="fa fa-close close" aria-hidden="true" (click)="onDismiss()"></i>
            <img src="assets.images/close_white.png" alt="">
        </h3>
    </div>
    <div class="content_outer">
        <div class="row">
          <div class="col-md-6">
            <input readonly type="text" placeholder="From Date - To Date" class="form-control datepicker" bsDaterangepicker
                   [bsConfig]="{ isAnimated: true, rangeInputFormat : 'ddd,DD-MMM-YYYY', dateInputFormat: 'ddd,DD-MMM-YYYY',showPreviousMonth: true ,showWeekNumbers: false}"
                   [maxDate]="maxDate">
            <mat-icon class="smallCalendar" style="margin-top:-45px;margin-right:56px;">date_range</mat-icon>
          </div>

        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <div>
                    <label for="">Company Name</label>
                </div>
                <div>
                <mat-select class="selectt" multiple value=0>
                    <mat-option value=0 hidden>Select</mat-option>
                    <mat-option value=1>All</mat-option>
                    <mat-option value=2>CGM</mat-option>
                    <mat-option value=3>OK$</mat-option>
                    <mat-option value=4>GAT</mat-option>
                    <mat-option value=5>One Stop Supermarket</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label for="">Division/State</label>
                </div>
                <div>
                    <mat-select class="selectt" multiple value=0>
                        <mat-option value=0 hidden>Select</mat-option>
                        <mat-option value=1>All</mat-option>
                        <mat-option value=2>Yangon</mat-option>
                        <mat-option value=3>Ayeyawaddy</mat-option>
                        <mat-option value=4>Mon</mat-option>
                        <mat-option value=5>Bago</mat-option>
                        </mat-select>
                    </div>
            </div>

        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div>
              <label for="">City/Town</label>
            </div>
            <div>
              <mat-select class="selectt" multiple value=0>
                <mat-option value=0 hidden>Select</mat-option>
                <mat-option value=1>All</mat-option>
                <mat-option value=2>Yangon</mat-option>
                <mat-option value=3>Pathein</mat-option>
                <mat-option value=4>Mawlamyaing</mat-option>
                <mat-option value=5>Thaton</mat-option>
              </mat-select>
            </div>
          </div>
            <div class="col-md-6">
                <div>
                    <label for="">OK$ Account Type</label>
                </div>
                <div>
                    <mat-select class="selectt" multiple value=0>
                        <mat-option value=0 hidden>Select</mat-option>
                        <mat-option value=1>All</mat-option>
                        <mat-option value=2>Personal</mat-option>
                        <mat-option value=3>Merchant</mat-option>
                        <mat-option value=4>Advance Merchant</mat-option>
                        <mat-option value=5>+95 746573894788</mat-option>
                    </mat-select>
                </div>
            </div>


        </div>
        <div class="row">
          <div class="col-md-6">
            <div>
              <label for="">OK$ Account Number</label>
            </div>
            <div>
              <mat-select class="selectt" multiple value=0>
                <mat-option value=0 hidden>Select</mat-option>
                <mat-option value=1>All</mat-option>
                <mat-option value=2>+95 746573894788</mat-option>
                <mat-option value=3>+95 746573894788</mat-option>
                <mat-option value=4>+95 746573894788</mat-option>
                <mat-option value=5>+95 746573894788</mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label for="">Cash Back Credit OK$ Account</label>
            </div>
            <div>
              <mat-select class="selectt" multiple value=0>
                <mat-option value=0 hidden>Select</mat-option>
                <mat-option value=1>All</mat-option>
                <mat-option value=2>+95 746573894788</mat-option>
                <mat-option value=3>+95 746573894788</mat-option>
                <mat-option value=4>+95 746573894788</mat-option>
                <mat-option value=5>+95 746573894788</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="">Group By</label>
          </div>
          <div>
            <mat-select class="selectt" multiple value=0>
              <mat-option value=0 hidden>Select</mat-option>
              <mat-option value=1>All</mat-option>
              <mat-option value=2>CGM</mat-option>
              <mat-option value=3>OK$</mat-option>
              <mat-option value=4>GAT</mat-option>
              <mat-option value=5>One Stop Supermarket</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="col-md-6 d-flex " style="align-items: flex-end;margin-bottom: 15px;">
          <div>
            <mat-checkbox class="example-margin">Sum Total</mat-checkbox>
          </div>
        </div>
      </div>
        <div class="button_group">
            <button>CLEAR</button>
            <button> APPLY</button>
        </div>
    </div>
</div>

