<div class="login_bg">
  <div class="d-flex h_100">
    <div class="login_first_bg h_100"></div>
    <div class="login_content" >
      <form action="" >
        <div>
          <h3 class="title_sub">Change Password</h3>
          <div class="position-relative text-center" style="margin-top: 30px;">
            <div class="input_image_box">
              <img src="assets/images/reload.png" alt="" style="width: 20px;">
            </div>
            <show-hide-password size="sm" [btnOutline]="false" class="show-hide-password">
              <input type="password" placeholder="Enter current Password" autocomplete="off" formControlName="password" style="padding-left: 60px;"/>
            </show-hide-password>
          </div>
          <div class="position-relative text-center" style="margin-top: 30px;">
            <div class="input_image_box">
              <img src="assets/images/login.png" alt="" style="width: 20px;">
            </div>
            <show-hide-password size="sm" [btnOutline]="false" class="show-hide-password">
              <input type="password" placeholder="Enter New Password" autocomplete="off" formControlName="password" style="padding-left: 60px;"/>
            </show-hide-password>
          </div>
          <div style="text-align: center;margin-top: 20px;">
            <button type="submit" class="login_btn" routerLink="/login/">SUBMIT</button>
          </div>
          <div style="text-align: center;" >
            <button type="submit" class="cancel" routerLink="/login/">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
