<div class="login_bg">
  <div class="d-flex h_100">
    <div class="login_first_bg h_100"></div>
    <div class="login_content" >
      <form action="" >
        <div>
          <h3 class="title_sub">Change Password</h3>
          <div class="d-flex position-relative" style="margin-top: 35px;">
            <show-hide-password size="sm" [btnOutline]="false" class="show-hide-password floating-label-group">
                <input type="password" autocomplete="off" autocomplete="off" cdkAutofill="off" formControlName="password"  required  style="padding-left: 60px;"/>
                <label class="floating-label">Current Password</label>
            </show-hide-password>
            <div class="input_image_box">
                <img src="assets/images/password.svg" alt="" style="width: 20px;">
            </div>
          </div>

          <div class="d-flex position-relative" style="margin-top: 35px;">
            <show-hide-password size="sm" [btnOutline]="false" class="show-hide-password floating-label-group">
                <input type="password" autocomplete="off" autocomplete="off" cdkAutofill="off" formControlName="password"  required  style="padding-left: 60px;"/>
                <label class="floating-label">New Password</label>
            </show-hide-password>
            <div class="input_image_box">
                <img src="assets/images/login.png" alt="" style="width: 20px;">
            </div>
          </div>
          
          <div style="text-align: center;margin-top: 20px;">
            <button type="submit" class="login_btn" routerLink="/login/">SUBMIT</button>
          </div>
          <div style="text-align: center;" >
            <button type="submit" class="cancel" routerLink="/login/">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
