@import "../../../../variable.scss";

.mat-dialog-container
{
  width:850px !important;
  background-color: #f6f6f6 !important;
}
.smallCalendar {
  top: 58px;
}
.title_outer{
    background-color: $primary-color;
    color: white;
    height: 50px;
    padding: 10px 30px;
    h3{
        .close{
            color: white;
            opacity: 1;
            font-weight: 400;
            text-shadow: none;
        }
    }
}

.selectt{
  height: 50px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 15px;
  box-shadow: $secondary-color 3px 3px 3px 0px;
  background-color: white !important;
}
.content_outer{
    padding: 30px;
    height: calc(61vh - 120px);
    overflow: auto;
}
label{
    margin-top: 15px;
    font-weight: 500;
}
.datePicker
{
    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 15px;
    box-shadow: #d6c7ec 3px 3px 3px 0px;
    background-color: white;
}
.datePicker mat-icon
{
  vertical-align: top !important;
}
