@import "../../../../variable.scss";
.outer_div{
    background-color: $quaternary-color;
    text-align: center;
    padding: 40px;
    h3{
        font-weight: 500;
        font-size: 30px;
        line-height: 1.8;
    }
}
::ng-deep .mat-dialog-container{
    padding: 0;
}
