<div *ngIf="!individual_listing" class="main-content"><!--*ngIf="!individual_listing"-->
  <h5 class="title">Individual Detail</h5>

  <div>
    <label for="">Select Company Name <span>*</span></label>
  </div>
  <div>
    <mat-select value=0 class="select" panelClass="single3Select" disableOptionCentering  >
      <mat-option value=0 hidden>Select</mat-option>
      <mat-option value=1 >CGM</mat-option>
      <mat-option value=2 >OK $</mat-option>
      <mat-option value=3 >GAT</mat-option>
      <mat-option value=4 >One Stop Supermarket</mat-option>
      <mat-option value=5 >OK $ Taxi</mat-option>
    </mat-select>

  </div>
  <br>

  <div>
    <label for="">OK$ Account Number <span>*</span></label>
  </div>
  <div>
    <input type="text" class="input" placeholder="Enter OK$ Account Number" [(ngModel)]="account_number">
    <div style="display: inline;margin-left: 30px;" *ngIf="account_number != ''">
      <img src="assets/images/close.svg" alt="" style="width: 20px;margin-right: 10px;">
      <span style="color: #ada1a1;font-size: 14px;">OK$ Account Not Found</span>
    </div>
  </div>
  <br>
  <div *ngIf="account_number != ''">
    <div>
      <label for="">Cash Back Credit OK$ Account</label>
    </div>
    <div>
      <mat-select class="select d-inline" value=1>
        <mat-option value=1>+95 746573894788</mat-option>
        <mat-option value=2>+95 746573894788</mat-option>
        <mat-option value=3>+95 746573894788</mat-option>
        <mat-option value=4>+95 746573894788</mat-option>
        <mat-option value=5>+95 746573894788</mat-option>
      </mat-select>
      <div style="display: inline;margin-left: 30px;">
        <img src="assets/images/tic.png" alt="" style="width: 20px;margin-right: 10px;">
        <span style="color: #ada1a1;font-size: 14px;">MPT (Merchant)</span>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mt-5 data_table">
      <ng-container matColumnDef="division">
        <th mat-header-cell *matHeaderCellDef style="width: 14%;"> Division </th>
        <td mat-cell *matCellDef="let element"> {{element.division}} </td>
      </ng-container>

      <ng-container matColumnDef="township">
        <th mat-header-cell *matHeaderCellDef style="width: 33%;"> Township </th>
        <td mat-cell *matCellDef="let element"> {{element.township}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef style="width: 33%;"> City/Town </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <div *ngIf="selectedCategory === 'All'" class="mt-5 mb-5">
      <app-service-category-all (newItemEvent)="formValidation($event)" ></app-service-category-all>
    </div>

    <div *ngIf="selectedCategory == 'Top Up'" class="mt-5 mb-5">
        <app-service-category-topup (newItemEvent)="formValidation($event)"></app-service-category-topup>
    </div>

    <div *ngIf="selectedCategory === 'Gift Cards'" class="mt-5 mb-5">
      <app-service-category-gift-cards (newItemEvent)="formValidation($event)"></app-service-category-gift-cards>
    </div>

    <div *ngIf="selectedCategory === 'DTH'" class="mt-5 mb-5">
        <app-service-category-dth (newItemEvent)="formValidation($event)"></app-service-category-dth>
    </div>

    <div *ngIf="selectedCategory === 'Electricity'" class="mt-5 mb-5">
      <app-service-category-electricity (newItemEvent)="formValidation($event)"></app-service-category-electricity>
    </div>

    <div *ngIf="selectedCategory === 'Post Paid'" class="mt-5 mb-5">
      <app-service-category-post-paid (newItemEvent)="formValidation($event)"></app-service-category-post-paid>
    </div>

    <div *ngIf="selectedCategory === 'Over Seas Top Up'" class="mt-5 mb-5">
      <app-service-category-over-seas-top-up (newItemEvent)="formValidation($event)"></app-service-category-over-seas-top-up>
    </div>


</div>
</div>
<div *ngIf="account_number != '' && !individual_listing" >
  <div class="float-right">
    <div style="display: inline;margin-right: 57px;font-weight: 500;">Service Category Type</div>
    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample" class="p-0">
      <img src="assets/images/category.svg" alt="service category" style="width: 35px;">
    </button>
  </div>

  <div class="button_group my-2" *ngIf="showButtons">
    <button matRipple (click)="individual_listing = true"> Cancel</button>
    <button matRipple (click)="individual_listing = true "> Save</button>
  </div>

  <!-- category menu -->
    <div class="serviceCategoryType">
      <div class="collapse" id="collapseExample">
        <div class="">
          <table class="w-100" *ngFor="let item of categoryItems">
            <tr (click)="categoryMenuClick(item.name)" class="servicecategory"
              [attr.data-toggle]="item.name === 'Close' && 'collapse'"
              [attr.data-target]="item.name === 'Close' && '#collapseExample'"
              [ngClass]="{'active_category': (selectedCategory && selectedCategory === item.name),
              'inactive_category' : (selectedCategory && selectedCategory !== item.name) }">
              <td>{{item.name}}</td>
              <td><img src="{{item.icon}}" alt="close" style="width: 35px;"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <!-- category menu -->
</div>

<div *ngIf="individual_listing">
  <div class="d-flex justify-content-between align-items-center">
    <h5 class="title">Individual Listing</h5>
    <div class="table_filter">
      <div class="search-container">
        <form method="get">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="button searchbutton" for="searchright">
            <img class="simg " src="assets/images/search.png" data-bs-placement="bottom" data-bs-toggle="tooltip" title="Search" >
          </label>
        </form>
      </div>
      <img src="assets/images/filter.svg" class="mr-3" alt="" (click)="filterTable()">
      <a download="UploadExcelFormat.xlsx" target="_blank" href="assets/UploadExcelFormat.xlsx" class="download_sample_btn"><img src="assets/images/excel-download.svg" alt="" style="margin-right: 16px;"></a>
      <img (click)="individual_listing = false" src="assets/images/add-pattern.svg" alt="add"  matRipple>
    </div>
  </div>

    <!-- table -->
    <div class="table-pagination">
      <table mat-table [dataSource]="dataSource">
  
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>

        <ng-container matColumnDef="divisionState">
          <th mat-header-cell *matHeaderCellDef> Division/State </th>
          <td mat-cell *matCellDef="let element"> {{element.divisionState}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef> District </th>
          <td mat-cell *matCellDef="let element"> {{element.district}} </td>
        </ng-container>

        <ng-container matColumnDef="township">
          <th mat-header-cell *matHeaderCellDef> Township </th>
          <td mat-cell *matCellDef="let element"> {{element.township}} </td>
        </ng-container>

        <ng-container matColumnDef="cityTown">
          <th mat-header-cell *matHeaderCellDef> City/Town </th>
          <td mat-cell *matCellDef="let element"> {{element.cityTown}} </td>
        </ng-container>

        <ng-container matColumnDef="agentCode">
          <th mat-header-cell *matHeaderCellDef> Agent Code </th>
          <td mat-cell *matCellDef="let element"> {{element.agentCode}} </td>
        </ng-container>

        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef> Branch </th>
          <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
        </ng-container>

        <ng-container matColumnDef="okAccNum">
          <th mat-header-cell *matHeaderCellDef> OK$ Account Number </th>
          <td mat-cell *matCellDef="let element"> {{element.okAccNum}} </td>
        </ng-container>

        <ng-container matColumnDef="cashbackOkAcc">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit OK$ Account </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackOkAcc}} </td>
        </ng-container>

        <ng-container matColumnDef="serviceCategory">
          <th mat-header-cell *matHeaderCellDef> Service Category Type</th>
          <td mat-cell *matCellDef="let element"> {{element.serviceCategory}} </td>
        </ng-container>

        <ng-container matColumnDef="okAccType">
          <th mat-header-cell *matHeaderCellDef> OK$ Account Type </th>
          <td mat-cell *matCellDef="let element"> {{element.okAccType}} </td>
        </ng-container>

        <ng-container matColumnDef="cashbackOpWise">
          <th mat-header-cell *matHeaderCellDef> Cash Back Operator Wise </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackOpWise}} </td>
        </ng-container>

        <ng-container matColumnDef="cashbackTelenorNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Telenor Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackTelenorNo}} </td>
        </ng-container>

        <ng-container matColumnDef="cashbackMptNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Mpt Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackMptNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackOoredooNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Ooredoo Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackOoredooNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackMytelNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Mytel Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackMytelNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackMectelNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Mectel Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackMectelNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackGiftCardsNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Gift Cards Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackGiftCardsNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackDTHNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit DTH Number</th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackDTHNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackElecNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Electricity Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackElecNo}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackPostPaidNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Post Paid Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackPostPaidNo}} </td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
        <ng-container matColumnDef="cashbackOvSeasNo">
          <th mat-header-cell *matHeaderCellDef> Cash Back Credit Over Seas Top Up Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cashbackOvSeasNo}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
  
    </div>
  
    <mat-toolbar>
      <mat-paginator [pageSizeOptions]="[10,20, 25, 50, 100]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-toolbar>
</div>
