.title{
    margin: 0 0 20px -10px;
}


.bulk_upload{
    text-align: end;margin-top: -21px;
    img{
        height: 45px;
    }
}

::ng-deep .select .mat-select-trigger{
    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 25%;
    padding: 15px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 3px 3px 3px 0px;
    background-color: white;
}
input.input{
    height: 48px;
    border: none;
    box-shadow:rgba(99, 99, 99, 0.2) 3px 3px 3px 0px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 25%;
    padding: 13px 15px;
}
.UploadFilelabel_hash{
    img{
        margin-right: 8px;
        cursor: pointer;
    }
}
.UploadFile_hash{
    display: none;
}

label{
    font-weight: 500;
}
::ng-deep .dataTable {
   height: 100%;
}

.table-pagination table th {
    background: #d6c7ec;
    color: black;
    font-size: 14px;
    padding-right: 24px;
    white-space: nowrap;
  }
  
  
  table {
    width: 100%;
    white-space: nowrap;
  
  }
  
  .mat-paginator{
    width: 100%;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row
  {
    padding: 0px;
  }
  

  .table-pagination{
    height: calc(54vh - 120px);
    overflow: auto;
  }
  
  .table-pagination td{
  background: #eae3f3;
  padding-right: 15px !important;
  border-top: solid 10px #f6f6f6;
  }
  
  .profileImageList
  {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  
  }
  .actionImage
  {
    width:25px;
  }
  .table_filter button
  {
    background: none !important;
  
  }
  .table_filter img
  {
    width: 25px;
  }
  
  .table_filter button img
  {
    width: 25px !important;
  }
  .mat-toolbar-row, .mat-toolbar-single-row
  {
    padding: 0 !important;
  }
  .mat-paginator-container {
    display: flex !important;
    justify-content: space-between !important;
  }
  .tableSpacing{
    padding-left: 20px !important;
  }

  ::ng-deep mat-drawer-content {
    overflow-x: hidden !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}