@import "../../../../variable.scss";
@import "../../../../styles.scss";
.mat-dialog-container {
    padding: 0 !important;
}

.title_outer{
    background-color: $primary-color;
    color: white;
    height: 50px;
    padding: 10px 30px;
    h3{
        .close{
            color: white;
            opacity: 1;
            font-weight: 400;
            text-shadow: none;
        }
    }
}
.content_outer{
  overflow-y: scroll;
  height: calc(65vh - 120px);
  padding: 30px;
}
::ng-deep .mat-dialog-container{
    padding: 0;
}
.selectt{
    height: 50px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px 15px;
    box-shadow: $secondary-color 3px 3px 3px 0px;
    background-color: white;
}
label{
    margin-top: 15px;
    font-weight: 500;
}
::placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}
::-moz-placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}
::-webkit-input-placeholder{
    color: rgba(80, 75, 75, 0.87);
    font-size: 14px;
}
::ng-deep .mat-checkbox-frame{
    border-width: unset !important;
    border: 4px solid $primary-color;
}

::ng-deep .mat-checkbox-inner-container{
    width: 25px !important;
    height: 25px !important;
}
::ng-deep .mat-checkbox-label{
    font-size: 16px;
    font-weight: 500;
}
