$primary-color: #592f95;
$secondary-color: #d6c7ec;
$tertiary-color: #FEBC45;
$quaternary-color: #f9f5ff !important;
$alert-confirm-btn-clr: green;
$alert-dismiss-btn-clr:red;

$button-group-second-button-color: #0059b9; 
$button-group-save-button-color: #28a745; 

$primary-font-size: 16px;
$secondary-font-size: 14px;
$title-font-size: 20px;
$tertiary-font-size: 12px;
$quarternary-font-size: 28px;

